.otp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  min-width: 400px;
}

@media screen and (max-width: 580px) {
  .otp-wrapper {
    width: 100%;
    margin: 10px;
    justify-content: left;
    min-width: none;
  }
}



.otp-field{
  width:45px;
  height: 50px;
  margin: 0.5rem 1rem;
  text-align: center;
  font-size: 1.5rem;
}

#otp-container{
  width:100%;
}

#otp-form{
  
  border: 1px solid black;
  padding: 4rem 3rem;
  border-radius: 8px;
  box-shadow: 8px 10px #858383;
  background-color: rgb(255, 245, 232);

}