nav{
  font-size: 1rem;
  font-weight: 600;
}
.nav-item{
  margin-right: 1rem;
  transition: background 0.5s;
  border-radius: 6px;
}

.nav-link:hover{
  background: rgb(225, 227, 255);
  text-decoration:solid;
  font-weight: 600;

}

.navbar-brand{
  margin-left: 1rem;
}